---
import Layout from "../layouts/Layout.astro";

const tools = [
  {
    name: "HEX to RGB",
    href: "/hex-to-rgb",
  },
];
---

<Layout
  title="Thingbomb - simple, quick tools"
  description="Thingbomb lets you get things done by giving you fast, simple tools that cost nothing."
>
  <article class="p-6 bg-zinc-950 h-fit text-white">
    <h1 class="text-3xl font-bold !m-0">Thingbomb</h1>
    <div class="tools flex flex-col gap-4 mt-3">
      {
        tools.map((tool) => (
          <a
            href={tool.href}
            class="border-1 !m-0 !text-foreground !no-underline border-input bg-input/30 p-2 rounded-xl w-fit px-4 text-sm hover:bg-zinc-800"
          >
            <span class="text-lg font-medium">{tool.name}</span>
          </a>
        ))
      }
    </div>
  </article>
  <footer class="p-6 text-lg flex flex-wrap gap-6">
    <a href="/" class="text-zinc-400 hover:text-zinc-200">Home</a>
    <a href="/privacy" class="text-zinc-400 hover:text-zinc-200"
      >Privacy Policy</a
    >
  </footer>
</Layout>
