---
import Input from "../../components/ui/input.astro";
import ToolLayout from "../../layouts/ToolLayout.astro";
---

<ToolLayout
  title="Word counter - free online tools"
  shortTitle="Word counter"
  description="Count words quickly with this free online tool."
>
  <Input id="text" type="text" placeholder="Enter text" className="mt-2" />
  <button
    id="word-count"
    disabled
    class="h-9 rounded-md border-1 mt-2 bg-blue-600 disabled:opacity-50 disabled:!scale-100 disabled:cursor-not-allowed border-input w-full scale-100 select-none cursor-pointer transition-all transform-content hover:scale-105 flex items-center justify-center"
  >
    Start typing
  </button>
</ToolLayout>

<script is:inline>
  const text = document.getElementById("text");
  const wordCount = document.getElementById("word-count");

  text.addEventListener("input", () => {
    wordCount.textContent =
      text.value.length === 0
        ? "Start typing"
        : `${text.value.split(" ").length} ${text.value.split(" ").length === 1 ? "word" : "words"}`;
    wordCount.disabled = text.value.length === 0;
  });

  wordCount.addEventListener("click", () => {
    navigator.clipboard.writeText(
      text.value.length === 0 ? "0" : text.value.split(" ").length
    );
    const original = wordCount.textContent;
    wordCount.textContent = "Copied!";
    setTimeout(() => (wordCount.textContent = original), 1000);
  });
</script>
